.details-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}

.details-title {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
}

.details-location {
  font-size: 18px;
}

.details-tag {
  background-color: #ff6060;
  padding: 5px 20px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.details-img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.details-wrapper1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
}

.details-wrapper3 {
  display: flex;
  gap: 20px;
  color: #ff6060;
  font-size: 18px;
  align-items: center;
}

.stars-container {
  align-self: flex-end;
}

.details-dropdown {
  display: flex;
  margin: 50px 100px;
  gap: 76px;
}

.details-container-dropdown {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.details-content-dropdown {
  display: flex;
 
}