.about-dropdown {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 100px;
  align-items: center;
}

.about-container-dropdown {
  width: 80%;
}
@media (max-width: 768px) {
  .about-dropdown {
    margin: 30px 20px;
    gap: 20px;
  }
  .about-container-dropdown {
    width: 100%;
  }

}
