.navbar {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
  list-style: none;
}

.navbar-link {
  color: black;
  text-decoration: none;
}

.navbar-link:hover,
.navbar-link--active {
  text-decoration: underline;
}

@media (max-width: 640px) {

  .navbar {
    margin: 30px 20px;
  }

  .navbar-logo {
    width: 145px;
    height: 45px;
  }

  .navbar-links {
    gap: 26px;
    font-size: 12px;
  }
}
