.navbar {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 57px;
  font-size: 24px;
  font-weight: 500;
  list-style: none;
}

.navbar-link {
  color: black;
  text-decoration: none;
}

.navbar-link:hover,
.navbar-link--active {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .navbar-links {
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin: 30px 20px;
  }

  .navbar-logo {
    width: 145px;
    height: 45px;
  }

  .navbar-links {
    font-size: 12px;
    gap: 13px;
  }
}
