.footer {
  background-color: black;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 40px;
  width: 122px;
  color: white;
}

.credits {
  font-size: 24px;
  color: white;
  padding-top: 30px;
}

@media (max-width: 768px) {
  
  .credits {
    font-size: 12px;
  }
}
